body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#controls {
  width: 100%;
  margin: 0 auto;
  float: left;
}

#form {
  margin-top: 5px;
  font-size: 12px;
  text-align: left;
  line-height: 16px;
  width:375px;
  float: left;
}
