doctype html
head
	title sidebar-v2 example
	meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
	link(rel='stylesheet' href='https://unpkg.com/leaflet@1.0.1/dist/leaflet.css')
	//if lte IE 8
		link(rel='stylesheet' href='//cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css')
	link(rel='stylesheet' href='../stylesheets/leaflet-sidebar.css')
	style.
		body {
		padding: 0;
		margin: 0;
		}
		html, body, #map {
		height: 100%;
		font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
		.lorem {
		font-style: italic;
		color: #AAA;
		}
#sidebar.sidebar.collapsed.sidebar-left
	// Nav tabs
	.sidebar-tabs
		ul(role='tablist')
			li
				a(href='#home' role='tab')
					i.fa.fa-bars
			li
				a(href='#profile' role='tab')
					i.fa.fa-user
			li.disabled
				a(href='#messages' role='tab')
					i.fa.fa-envelope
			li
				a(href='https://github.com/Turbo87/sidebar-v2' role='tab' target='_blank')
					i.fa.fa-github
		ul(role='tablist')
			li
				a(href='#settings' role='tab')
					i.fa.fa-gear
	// Tab panes
	.sidebar-content
		#home.sidebar-pane
			h1.sidebar-header
				| sidebar-v2
				span.sidebar-close
					i.fa.fa-caret-left
			p
				| A responsive sidebar for mapping libraries like 
				a(href='http://leafletjs.com/') Leaflet
				|  or 
				a(href='http://openlayers.org/') OpenLayers
				| .
			p.lorem
				| Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			#controls
				#form
					form(action='')
						input(type='radio' name='filter' value='all' checked='')
						| Show All Coffee Shops
						input(type='radio' name='filter' value='starbucks')
						| Starbucks Only
		#profile.sidebar-pane
			h1.sidebar-header
				| Profile
				span.sidebar-close
					i.fa.fa-caret-left
		#messages.sidebar-pane
			h1.sidebar-header
				| Messages
				span.sidebar-close
					i.fa.fa-caret-left
		#settings.sidebar-pane
			h1.sidebar-header
				| Settings
				span.sidebar-close
					i.fa.fa-caret-left
#map.sidebar-map
a(href='https://github.com/Turbo87/sidebar-v2/')
	img(style='position: fixed; top: 0; right: 0; border: 0;' src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png' alt='Fork me on GitHub')
script(src='https://unpkg.com/leaflet@1.0.1/dist/leaflet.js')
script(src='../javascripts/leaflet-sidebar.js')
script(src='../javascripts/leaflet.markercluster.js')
script(src='../javascripts/proj4.js')
script(src='../javascripts/proj4-src.js')
link(href='../stylesheets/MarkerCluster.css' rel='stylesheet')
link(href='../stylesheets/MarkerCluster.Default.css' rel='stylesheet')
script.
	var myData = !{JSON.stringify(jsonData)};
	//var map = L.map('map');
	//map.setView([51.507351, -0.127758], 9);
	var baseLayer = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
	subdomains: 'abcd',
	maxZoom: 19
	});
	
	// Add JSON to map
	console.log(myData);
	var myStyle = {
		"color": "#ff7800",
		"weight": 5,
		"opacity": 0.65
		};

	//var datalayer = L.geoJSON(myData, {
	//		style: myStyle
	//}).addTo(map);
	//console.log(map);
	//proj4.defs("urn:ogc:def:crs:EPSG::27700", "+proj=tmerc +lat_0=49 +lon_0=-2 +k=0.9996012717 +x_0=400000 +y_0=-100000 +ellps=airy +towgs84=375,-111,431,0,0,0,0 +units=m +no_defs");
	
	var geojson = L.geoJson(myData, {
		onEachFeature: function(feature, layer) {
			// ADD A POPUP WITH SOME INFO
			layer.bindPopup("<h2>" + feature.properties.id + "</p>");
		}
	});
	var markers = L.markerClusterGroup();
	markers.addLayer(geojson);
	
	// CONSTRUCT THE MAP
	var map = L.map('map', {
	//	maxZoom: 9
	}).fitBounds(markers.getBounds());
	console.log(map.options.crs);
	console.log(L);
	//var crs = new L.Proj.CRS('EPSG:27700',
	//		'+proj=tmerc +lat_0=49 +lon_0=-2 +k=0.9996012717 +x_0=400000 +y_0=-100000 +ellps=airy +towgs84=375,-111,431,0,0,0,0 +units=m +no_defs'
	//	);
		
	//map.setView([42.375562, -71.106870], 9);
	baseLayer.addTo(map);
	//markers.addTo(map);
	map.addLayer(markers);
	
	myData.crs={
				"type": "name",
				"properties": {"name": "urn:ogc:def:crs:EPSG::27700"}
				};
	console.log(myData);
	console.log(L.Proj);
	//L.Proj.geoJson(myData, {style:myStyle}).addTo(map);
		
	var marker = L.marker([51.507351, -0.127758]).addTo(map);
	var sidebar = L.control.sidebar('sidebar').addTo(map);
		
	//L.geoJson(myData,{
	//  onEachFeature: function (feature, layer) {
	//    layer.bindPopup(feature.properties.id);
	//  }
	//}).addTo(map);

	//L.geoJSON(myData, {
	//  style: {color: "#ff0000"}
	//}).addTo(map);
	
	//console.log(sidebar.container);
	//console.log(document.getElementById('map'));
	//console.log(document.getElementById('sidebar'));
	//console.log(map);
	//console.log(L.control);
	//console.log(L.control.sidebar);
	//console.log('a');
	
	//button(onclick='toggleSidebar()')>Toggle.Sidebar;

	//map.addControl(sidebar);
	//sidebar.open('home')
	
	//sidebar.show();
	//setTimeout(function () {sidebar.show()};, 500);
	
