doctype html
head
	title sidebar-v2 example
	meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
	link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet')
	link(rel='stylesheet' href='https://unpkg.com/leaflet@1.0.1/dist/leaflet.css')
	//if lte IE 8
		link(rel='stylesheet' href='//cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css')
	link(rel='stylesheet' href='../stylesheets/leaflet-sidebar.css')
	link(rel='stylesheet' href='../stylesheets/stylenew.css')
	link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
	style.
		body {
		padding: 0;
		margin: 0;
		}
		html, body, #map {
		height: 100%;
		font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
		}
		.lorem {
		font-style: italic;
		color: #AAA;
		}
#sidebar.sidebar.collapsed.sidebar-left
	// Nav tabs
	.sidebar-tabs
		ul(role='tablist')
			li
				a(href='#home' role='tab')
					i.fa.fa-bars
			li
				a(href='#profile' role='tab')
					i.fa.fa-user
			li.disabled
				a(href='#messages' role='tab')
					i.fa.fa-envelope
			li
				a(href='https://github.com/Turbo87/sidebar-v2' role='tab' target='_blank')
					i.fa.fa-github
		ul(role='tablist')
			li
				a(href='#settings' role='tab')
					i.fa.fa-gear
	// Tab panes
	.sidebar-content
		#home.sidebar-pane
			h1.sidebar-header
				| sidebar-v2
				span.sidebar-close
					i.fa.fa-caret-left
			p
				| A responsive sidebar for mapping libraries like 
				a(href='http://leafletjs.com/') Leaflet
				|  or 
				a(href='http://openlayers.org/') OpenLayers
				| .
			p.lorem
				| Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
			#container3(style='width: 400px; height: 20px; margin: 0 auto')
			//#container
			//.container
			//	.row
			//		#date-chart.chart-wrapper
			//			.chart-title.bold
			//				strong  Number of Donations 
			//			p.lorem
			//			| Lorem ipsum dolor sit amet
			#container(style='height: 60px')
				.btn-group
					button#button button1
					button#button2 button2
					button#button3 button3
			#container(style='height: 60px')
				.btn-group
					button#button5 button5
					button#button6 button6
					button#button7 button7
			#container2(style='width: 350px; height: 350px; margin: 0 auto')
			#container4(style='width: 400px; height: 20px; margin: 0 auto')
			.dropdown
				button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' value='Item 1')
					| Item 1
					span.caret
				ul.dropdown-menu(value='Item 1')
					li(onclick='dropdown(this.innerHTML);') Item 1
					li(onclick='dropdown(this.innerHTML);') Item 2
		#profile.sidebar-pane
			h1.sidebar-header
				| Profile
				span.sidebar-close
					i.fa.fa-caret-left
		#messages.sidebar-pane
			h1.sidebar-header
				| Messages
				span.sidebar-close
					i.fa.fa-caret-left
		#settings.sidebar-pane
			h1.sidebar-header
				| Settings
				span.sidebar-close
					i.fa.fa-caret-left
#map.sidebar-map
a(href='https://github.com/Turbo87/sidebar-v2/')
	img(style='position: fixed; top: 0; right: 0; border: 0;' src='https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png' alt='Fork me on GitHub')
script(src='https://unpkg.com/leaflet@1.0.1/dist/leaflet.js')
script(src='../javascripts/leaflet-sidebar.js')
script(src='../javascripts/leaflet.markercluster.js')
link(href='../stylesheets/MarkerCluster.css' rel='stylesheet')
link(href='../stylesheets/MarkerCluster.Default.css' rel='stylesheet')
link(href='../stylesheets/dc.css' rel='stylesheet')
script(src='../javascripts/crossfilter.js' type='text/javascript')
script(src='../javascripts/d3.js' type='text/javascript')
script(src='../javascripts/dc.js' type='text/javascript')
script(src='../javascripts/queue.js' type='text/javascript')
script(src='../javascripts/Dashboard.js' type='text/javascript')
script(src='https://code.highcharts.com/highcharts.js')
script(src='https://code.highcharts.com/modules/series-label.js')
script(src='https://code.highcharts.com/modules/exporting.js')
script(src='https://code.highcharts.com/modules/export-data.js')
script(src='http://code.highcharts.com/highcharts.js')
script(src='http://code.highcharts.com/highcharts-more.js')
script(src='http://code.highcharts.com/modules/exporting.js')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
// jQuery library
//script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
// Latest compiled JavaScript
script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
script.
	var myData = !{JSON.stringify(jsonData)};
	//var map = L.map('map');
	//map.setView([51.507351, -0.127758], 9);
	var baseLayer = L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png', {
	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
	subdomains: 'abcd',
	maxZoom: 19
	});
	
	// Add JSON to map
	console.log(myData);
	var myStyle = {
		"color": "#ff7800",
		"weight": 5,
		"opacity": 0.65
		};

	var geojson = L.geoJson(myData, {
		onEachFeature: function(feature, layer) {
			// ADD A POPUP WITH SOME INFO
			layer.bindPopup("<h2>" + feature.properties.id + "</p>");
		}
	});
	
	var markers = L.markerClusterGroup();

	markers.addLayer(geojson);
	
	

	// CONSTRUCT THE MAP
	var map = L.map('map', {
	//	maxZoom: 9
	}).fitBounds(markers.getBounds());
	console.log(map.options.crs);
	console.log(L);
	console.log(document.getElementById('date-chart'));
		
	baseLayer.addTo(map);
	//markers.addTo(map);
	map.addLayer(markers);
	
	myData.crs={
				"type": "name",
				"properties": {"name": "urn:ogc:def:crs:EPSG::27700"}
				};
	console.log(myData);

	$(function () {
		var chart = new Highcharts.Chart({
				chart: {
						renderTo: 'container2', 
						polar: true
				},

				title: {
						text: 'Highcharts Polar Chart'
				},

				pane: {
						startAngle: 0,
						endAngle: 360
				},

				xAxis: {
						tickInterval: 72,
						min: 0,
						max: 360,
						labels: {
								formatter: function () {
										return this.value + '°';
								}
						}
				},

				yAxis: {
						min: 0
				},

				plotOptions: {
						series: {
								pointStart: 0,
								pointInterval: 72
						},
						column: {
								pointPadding: 0,
								groupPadding: 0
						}
				},

				series: [{
						type: 'column',
						name: 'Column',
						data: [0, 0, 0, 0, 0],
						//pointPlacement: 'between'
				}, {
						type: 'line',
						name: 'Line',
						data: [0, 0, 0, 0, 0]
				}, {
						type: 'area',
						name: 'Area',
						data: [0, 0, 0, 0, 0]
				}]
		});
		
		// The button action
		$('#button').click(function() {
				chart.series[0].setData([8, 7, 6, 5, 4]);
				chart.series[1].setData([7, 6, 5, 4, 3]);
				chart.series[2].setData([6, 5, 4, 3, 2]);
		});
		
		$('#button2').click(function() {
			chart.series[0].setData([4, 7, 6, 5, 4]);
			chart.series[2].setData([3, 5, 3, 4, 3]);
			chart.series[2].setData([2, 3, 1, 3, 2]);
		});
		
		$('#button3').click(function() {
			chart.series[0].setData([1, 2, 3, 4, 5]);
			chart.series[1].setData([1, 2, 3, 4, 4]);
			chart.series[2].setData([1, 2, 2, 4, 2]);
		});
		
	});
	

	function dropdown(val) {
		var y = document.getElementsByClassName('btn btn-default dropdown-toggle');
		var aNode = y[0].innerHTML = val + ' <span class="caret"></span>'; // Append 
	}
	
	
	// works 
	//L.geoJson(myData, {style:myStyle}).addTo(map);
	//var marker = L.marker([51.507351, -0.127758]).addTo(map);
	
	var myIcon = L.divIcon({className: 'my-div-icon'});
	// you can set .my-div-icon styles in CSS
	var marker = L.marker([51.507351, -0.127758], {icon: myIcon}).addTo(map);
	
	var sidebar = L.control.sidebar('sidebar').addTo(map);
		

	
